<ion-view title="Dashboard" id="page1" ng-controller='DashboardController as dash_ctrl'>
<ion-nav-bar class="bar-calm"></ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item ng-repeat="parking in dash_ctrl.parkings" ng-click="enterParking(parking)" >
                <i class="icon ion-model-s"></i>
                {{parking}}
                <span class="badge badge-assertive">0</span>
            </ion-item>
            <!-- <ion-item ui-sref="parcare1">
                <i class="icon ion-model-s"></i>
                Parcare 1
                <span class="badge badge-assertive">0</span>
            </ion-item>
            <ion-item>
                <i class="icon ion-model-s"></i>
                Parcare 2
            </ion-item>
            <ion-item>
                <i class="icon ion-model-s"></i>
                Parcare 3
            </ion-item> -->
        </ion-list>
    </ion-content>
</ion-view>
